OWN_HOST=host.mynetwork.local       # Host (DNS name or IP) on which this CowPhone instance is running, required for FTP download from phone and for web interface
CRON_SCHEDULE=0 0 0 * * *           # Cron-style schedule for automatic logo updates (example: "0 0 0 * * *" = once per day, at midnight)
OS_PHONE_HOST=phone.mynetwork.local # Hostname or IP address of OpenStage phone in local network
OS_ADMIN_PASSWORD=123456            # Admin password for OpenStage phone (default = 123456)
